.reset_margin {
    margin: 0px !important;
}
.hidden, .hide {
    display: none !important;
    visibility: hidden !important;
}
.show {
    display: block !important;
    visibility: visible !important;
}
.active {
    display: block;
    visibility: visible;
}
.block {
    display: block !important;
}
.left, .pull_left {
    float: left;
}

.right, .pull_right {
    float: right;
}
.uppercase {
    text-transform: uppercase;
}
.first_letter_uppercase:first-letter  {
  text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}

.has_error {
    input,
    select {
        border: 1px solid red!important;
    }
}

.error_message {
    position: relative;
    color: red;
    display: inline-block;
    width: 100%;
    font-size: 12px;
    &:first-letter {
        text-transform: uppercase;
    }
}
.full_width {
    width: 100%;
}
.half_width {
    width: 50%;
}

.half_width-1 {
    width: 49%;
}
.clearfix {
    clear: both;
}
.margin_auto {
    margin: 0 auto;
}

.hide_from_screen {
    left: -10000px !important;
    position: absolute !important;
}
@mixin opacity($opacity) {
    opacity: $opacity;
    // IE8 filter
    $opacity-ie: $opacity * 100;
    filter: #{alpha(opacity = $opacity-ie)};
}
.disabled,
[disabled]{
    cursor: not-allowed;
    pointer-events: none;
    // Future-proof disabling of clicks
    @include opacity(0.65);
    box-shadow: none;
}